DiceRoll/*.iml
DiceRoll/.gradle
DiceRoll/local.properties
DiceRoll/.idea/caches
DiceRoll/.idea/libraries
DiceRoll/.idea/modules.xml
DiceRoll/.idea/workspace.xml
DiceRoll/.idea/navEditor.xml
DiceRoll/.idea/assetWizardSettings.xml
DiceRoll/.DS_Store
DiceRoll/build
DiceRoll/captures
DiceRoll/.externalNativeBuild
DiceRoll/.cxx
DiceRoll/local.properties

LoginPage/*.iml
LoginPage/.gradle
LoginPage/local.properties
LoginPage/.idea/caches
LoginPage/.idea/libraries
LoginPage/.idea/modules.xml
LoginPage/.idea/workspace.xml
LoginPage/.idea/navEditor.xml
LoginPage/.idea/assetWizardSettings.xml
LoginPage/.DS_Store
LoginPage/build
LoginPage/captures
LoginPage/.externalNativeBuild
LoginPage/.cxx
LoginPage/local.properties